export(validate,
	showStuff,
	showAll,
	getPrototypes,
	getRelevances,
	getPrototypeProgress,
	getRelevanceProgress,
	getCostcurve,
	getTrainError,
	getTestError,
	getTrainErrorProgress,
	getTestErrorProgress)

exportClasses(nfoldoutput,
	      trainoutput,
	      traintestoutput)